# Generated Python Script
import enum
from dataclasses import dataclass

{% for e in enums %}
class {{e.get_name()}}(enum.IntEnum):
    {% for entry in e.entries%}
    {{entry.name}} = {{entry.value}}
    {% endfor %}
{% endfor %}

{% for s in structs %}
@dataclass
class {{s.get_name()}}:
    {% for entry in s.fields%}
    {{entry.name}}: {{entry.type.get_name()}}
    {% endfor %}
{% endfor %}
