# Generated Python Script
import enum
import struct
from rpclite.rpc_comms import RpcClientComms
import rpclite.rpc_marshal
{%if enums%}
from .api_types import {%for e in enums%}{{e.get_name()}}{%if not loop.last%}, {%endif%}{%endfor%}
{%endif%}

{%if structs%}
from .api_types import {%for s in structs%}{{s.get_name()}}{%if not loop.last%}, {%endif%}{%endfor%}
{%endif%}

{%macro params(rpc, types)%}
{%for p in rpc.params%}, {{p.name}}{%if types%}: {{p.type.get_name()}}{%endif%}{%endfor%}
{%endmacro%}

{%macro struct_code(rpc)%}
{%for p in rpc.params%}{{p.type.get_struct_code()}}{%endfor%}
{%endmacro%}

{% for d in devices %}
class {{d.name}}:
    def __init__(self, comms: RpcClientComms, base_index: int = 0):
        self._comms = comms
        self._base_index = base_index

    {% for rpc in d.rpcs%}
    def {{rpc.name}}(self{{params(rpc, True)}}) -> {{rpc.return_type.get_name()}}:
        param_bytes = struct.pack("{%for p in rpc.params%}{{p.type.get_struct_code()}}{%endfor%}"{{params(rpc, False)}})
        response_bytes = self._comms.invoke_rpc(self._base_index + {{ loop.index0 }}, param_bytes)
        response = rpclite.rpc_marshal.bytes_to_{{rpc.return_type.get_name()}}(response_bytes)
        return response
    
    {% endfor %}
{% endfor %}